<nav id="nav" class="nav">
    <ul id="menu" class="menu">
        <li class="menu__item"><a href="#" class="menu__link"></a></li>
        <li class="menu__item"><a href="#" class="menu__link"></a></li>
        <li class="menu__item"><a href="#" class="menu__link"></a></li>
    </ul>
</nav>