<!doctype html>
<html lang="ru">
<head>
    <%- include('ejs/include/head.ejs') %>
    <%- include('ejs/include/styles.ejs') %>
    <%- include('ejs/include/scripts.ejs') %>
</head>
<body>
<div class="container" style="outline: 1px solid red;">KEK</div>
</body>
</html>